<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="container">
		<header class="sticky-top header">
            <div>
                    <div class="logo"><%= title %></div>
            </div>
        </header>
    <main>
        <div class="jumbotron">
            <h1><%= message %></h1>
        </div>
        <div><img src="/images/icon-csvfile.png" alt=""></div>
    </main>
    <footer class="fixed-bottom footer">
	<div class="center">Copyright (c) company All rights reserved.</div>
</footer>

</body>

</html>
